.header {
    background-color: greenyellow;
    text-align: center;
    padding: 1px 0;
}

.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header ul li{
    list-style: none;
    font-size: 25px;
    font-weight: bold;
}

.link:hover{
    color: green;
    text-decoration: underline;
}

.link{
    text-decoration: none;
}

.info {
    max-width: 50%;
    margin: 20px auto;
    border: 1px solid green;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.buttons{
    text-align: center;
}

.img{
    margin-bottom: -20px;
    border: 3px solid tomato;
    border-radius: 50%;
}